// 
// objects
// footer
// 

.c-apoio, 
.c-cms-title {
  @include css4 {
    margin-top: var(--sp-and-half);
  }
}

.c-devs {
  display: flex $i;
  flex-wrap: wrap;
  align-items: center;

  &__title {
    width: 100%;
    @include css4 {
      font-size: var(--fz-xm);
      color: var(--cl-primary);
      margin-bottom: var(--sp-twelve);
    }
  }

  &__item {
    @include css4 {
      margin-right: var(--sp-half);
    }
  }
}

.c-apoio {
  display: flex $i;
  align-items: center;

  &__title {
    @include css4 {
      margin-right: var(--sp-unit);
    }
  }

  &__item {
    @include css4 {
      margin-left: var(--sp-half);
    }
  }
}

.c-apoio__title, 
.c-cms-title {
  @include css4 {
    font-size: var(--fz-s);
    color: var(--cl-primary);
  }
  opacity: .7;
}


.o-footer {
  @include css4 {
    padding-bottom: var(--sp-twelve);
  }

  img { width: auto; }

  hr {
    @include css4 {
      margin-bottom: var(--sp-double);
    }
  }

  @include media('screen', '>medium') {
    @include css4 {
      padding-bottom: var(--sp-double);
    } 
  }
}


@include media('screen', '>=small') {
  .c-devs, 
  .c-apoio, 
  .c-cms-title {
    @include column(1/3, 0, 3, 3);
    margin-top: 0;
  }

  .c-cms-title { text-align: right $i; }

  .o-footer .o-wrapper {
    display: flex;
    align-items: flex-end;
  }
}