// 
// objects
// header
// 

// .c-nav-primary {}

.img-page-custon {
  @include centerer();
  height: 100%;

  @include media('screen', '>xsmall') {
    height: auto;
  }
}


.o-header {
  @include css4 {
    padding: var(--sp-unit) 0 var(--sp-double);
    margin-bottom: var(--sp-double);
    background-color: var(--cl-text);
  }
  position: relative;
  overflow: hidden;

  a {
    @include css4 {
      color: var(--cl-clean);
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__top, 
  &__main {
    position: relative;
    z-index: 10;
  }

  &__top {
    @include css4 {
      margin-bottom: var(--sp-half);
    }
  }

  .home & {
    width: 100%;
    background-color: $in;
    @include css4 {
      padding: var(--sp-unit) 0;
    }
    margin-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
  }


  @include media('screen', '>medium') {
    @include css4 {
      padding: var(--sp-unit) 0 var(--sp-huge);
      margin-bottom: var(--sp-quad);
    }
  }
}