/* ==========================================================================
   #MAIN
   ========================================================================== */

.c-title {
  font-weight: 400;
  @include css4 {
    color: var(--cl-primary);
    font-size: var(--fz-xl);
  }

  @include media('screen', '>medium') {
    @include css4 {
      font-size: var(--fz-hl);
    }
  }
}

.o-wrapper {
  @include media('screen', '<=medium') {
    @include css4 {
      padding: 0 var(--sp-twelve);
    }
  }
}

.o-main {
  @include css4 {
    margin-bottom: var(--sp-quad);
  }

  &__header {
    @include css4 {
      margin-bottom: var(--sp-double);
    }
  }

  &__content {}
  .o-product &__content {
    @include css4 {
      margin-bottom: var(--sp-unit);
    }
  }

  &__aside {

    .c-btn {
      width: 100%;
    }
  }

  &__footer {
    @include css4 {
      margin-top: var(--sp-double);
    }
  }

  @include media('screen', '>=small') {
    
    .search &__content {
      @include column(3/4, 0, 2, 2);
    }

    .search &__aside {
      @include column(1/4, 0, 2, 2);
    }
  }

  @include media('screen', '>medium') {
    &__content {
      @include column(3/4, 0, 2, 2);
    }

    &__aside {
      @include column(1/4, 0, 2, 2);
    }
  }
}