// 
// objects
// search
// 

.c-search-header {
  border: 1px solid $t;
  @include css4 {
    padding: var(--sp-half) var(--sp-twelve);
    border-color: var(--cl-grey-30);
    margin-bottom: var(--sp-unit);
    background-color: var(--cl-grey-10);
  }
}

.c-search-card {

  &__link {
    align-items: baseline;
    justify-content: space-between;
  }

  &__title {
    &:hover { text-decoration: underline; }
  }

  &__date {
    @include css4 {
      font-size: var(--fz-s);
      color: var(--cl-primary);
      margin-left: var(--sp-twelve);
    }
    opacity: .7;
  }
}

.c-search-list {
  @include css4 {
    margin-bottom: var(--sp-double);
  }

  &__item {
    border-bottom: 1px solid $t;
    @include css4 {
      padding-bottom: var(--sp-half);
      border-color: var(--cl-grey-10);
      margin-top: var(--sp-unit);
    }
  }
}


.c-categories, 
.c-widget {
  li {
    @include css4 {
      margin-bottom: var(--sp-six);
    }
  }

  &__title {
    @include css4 {
      margin-bottom: var(--sp-half);
    }
  }

  .o-main__aside & {
    @include css4 {
      margin-bottom: var(--sp-and-half);
    }
  }
}