///*----------------------------------*\
//  #UTILITIES
//\*----------------------------------*/

.u-ttu { text-transform: uppercase; }
.u-dn { display: none; }
.u-db { display: block; }
.u-dib { display: inline-block; }
.u-fwll { font-weight: 200; }
.u-fwl { font-weight: 300; }
.u-fwn { font-weight: 400; }
.u-fwm { font-weight: 600; }
.u-fwb { font-weight: 800; }
.u-fllf { float: left; }
.u-flrg { float: right; }
.u-mla { margin-left: auto; }
.u-mra { margin-right: auto; }

.u-clearfix { @include clearfix(); }
// .u-radius-circle { border-radius: $border-radius-circle; }
// .u-no-link { @include no-link; }
// .u-mobile-scroll-horizontal { @include mobile-scroll-horizontal; }
// .u-clear-list { @include clear-list; }
// .u-display-label { @include label; }

// .u-transition-basic { @include transition(all $duration-quickly ease-in-out); }