/* ==========================================================================
   #RESET
   ========================================================================== */

/**
 * A very simple reset that sits on top of Normalize.css.
 */

 body,
 h1, h2, h3, h4, h5, h6,
 blockquote, p, pre,
 dl, dd, ol, ul,
 figure,
 hr,
 fieldset, legend {
   margin:  0;
   padding: 0;
 }
 
 
 
 /**
  * Remove trailing margins from nested lists.
  */
 
 li > {
 
   ol,
   ul {
     margin-bottom: 0;
   }
 
 }
 
 
 
 /**
  * Remove default table spacing.
  */
 
 table {
   border-collapse: collapse;
   border-spacing: 0;
 }
 
 
 
 /**
  * 1. Reset Chrome and Firefox behaviour which sets a `min-width: min-content;`
  *    on fieldsets.
  */
 
 fieldset {
   min-width: 0; /* [1] */
   border: 0;
 }


// 
// 
// 
// 
body {
  font-family: $open-sans;
  font-weight: 300;
  @include css4 {
    color: var(--cl-grey-60);
    background-color: var(--cl-clean);
  }
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main, form legend {
  display: block;
}

ol, ul { list-style: none; }

blockquote, q {
  quotes: none;
}

button, select, textarea, input {
  color: inherit;
  line-height: inherit;
  background-color: transparent;
  border-radius: 0;
}

button, select, textarea,
input[type="button"], input[type="email"], input[type="number"],
input[type="password"], input[type="search"], input[type="submit"],
input[type="tel"], input[type="text"], input[type="url"] {
  appearance: none;
}

textarea {
  resize: vertical;
  overflow: auto;
}

select::-ms-expand {
  display: none; // hide Select default icon on IE
}

input::-ms-clear {
  display: none; // hide X icon in IE and Edge
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, video, svg {
  display: block;
  width: 100%;
  max-width: 100%;
}

a {
  text-decoration: $n;
  @include css4 {
    color: var(--cl-secondary);
  }

  &:hover {
    text-decoration: $n;
  }
}

.c-text {
  a {
    &:hover { text-decoration: underline; }
  }

  p:not(:last-child) {
    @include css4 {
      margin-bottom: var(--sp-unit);
    }
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    @include css4 {
      font-size: var(--fz-l);
      margin-bottom: var(--sp-unit);
    }
  }

  li { list-style: inside disc; }

  li:not(:last-child) {
    @include css4 {
      margin-bottom: var(--sp-half);
    }
  }

  ol, ul, dl {
    @include css4 {
      padding-left: var(--sp-unit);
      margin: var(--sp-unit) 0;
    }
  }
}