///* ========================================================================
//   #GLOBAL
//   ======================================================================== */

// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.



// Standardise some UI treatments.

$global-radius: 3px !default;
$global-transition: all 300ms ease-in-out !default;



// Serif font stacks.
$times-new-roman: 'Times New Roman', Times, Georgia, 'DejaVu Serif', serif;
// $times:           Times, 'Times New Roman', Georgia, 'DejaVu Serif', serif;
// $georgia:         Georgia, 'Times New Roman', 'DejaVu Serif', serif;

// Sans-serif font stacks.
$open-sans:       'Open Sans', Tahoma, sans-serif;
$verdana:         Verdana, Tahoma, 'DejaVu Sans', sans-serif;
$tahoma:          Tahoma, Verdana, 'DejaVu Sans', sans-serif;
$helvetica:       Helvetica, Arial, 'Nimbus Sans L', sans-serif;
$arial:           Arial, Helvetica, 'Nimbus Sans L', sans-serif;
// $impact:          Impact, 'Arial Narrow', Helvetica, sans-serif;

//== Helpers
$i:           !important;
$t:           transparent;
$n:           none;
$in:          initial;
$ih:          inherit;
$cc:          currentColor;
$imgPath:     '../../../images';

//== Components
$global-radius-circle: 50%;

//== Breakpoints
$breakpoints: (
  xsmall: 480px,
  small:  768px,
  medium: 992px,
  xmedium: 1024px,
  large:  1300px,
  xlarge: 1400px
);