///* ========================================================================
//   #COLORS
//   ======================================================================== */

$vars-project: (
  // colors
  // d = default
  --cl-clean:        hsl(0, 0%, 100%),
  --cl-dark:         hsl(0, 0%, 0%),
  --cl-text:         hsl(240, 3%, 30%),  // #4A4A4F
  --cl-bg-body:      hsl(0, 0%, 95%), // #f2f2f2
  // n = neutral
  --cl-grey-10:      hsl(240, 9%, 98%),  // #F9F9FA
  --cl-grey-20:      hsl(240, 10%, 94%), // #EEEEF1
  --cl-grey-30:      hsl(240, 5%, 85%),  // #D7D7DB
  --cl-grey-40:      hsl(240, 1%, 70%),  // #B2B2B3
  --cl-grey-50:      hsl(0, 0%, 45%),    // #737373
  --cl-grey-60:      hsl(240, 3%, 30%),  // #4A4A4F
  --cl-grey-70:      hsl(240, 4%, 23%),  // #38383D
  --cl-grey-80:      hsl(240, 6%, 17%),  // #29292E
  --cl-grey-90:      hsl(240, 4%, 5%),   // #0C0C0D
  // s = semantic
  --cl-sucess:       hsl(114, 100%, 37%), // #13BD00
  --cl-info:         hsl(210, 100%, 52%), // #0A85FF
  --cl-warning:      hsl(31, 100%, 42%),  // #D66F00
  --cl-error:        hsl(351, 100%, 42%), // #D60020
  // m = main
  --cl-primary:      hsl(195, 17%, 41%), // #58727B
  --cl-secondary:    hsl(8, 77%, 41%),  // #BB2D18
  // p = palettes
  // --cl-primary-dark:     hsl(104, 53%, 26%), // #31641F
  // font-sizes
  --fz-uul:    4.5rem,   // 72px
  --fz-ul:     4rem,     // 64px
  --fz-hhhl:   3rem,     // 48px
  --fz-hhl:    2.75rem,  // 44px
  --fz-hl:     2.25rem,  // 36px
  --fz-xxl:    2rem,     // 32px
  --fz-xl:     1.75rem,  // 28px
  --fz-l:      1.5rem,   // 24px
  --fz-xxm:    1.25rem,  // 20px
  --fz-xm:     1.125rem, // 18px
  --fz-m:      $inuit-global-font-size,
  --fz-s:      0.875rem, // 14px
  --fz-xs:     0.75rem,  // 12px
  --fz-xxs:    0.625rem, // 10px
  // spaces
  --sp-quarter:  4px, 
  --sp-six:      6px, 
  --sp-half:     $inuit-global-spacing-unit-tiny, // 8px
  --sp-twelve:   12px, 
  --sp-unit:     $inuit-global-spacing-unit-small, // 16px 
  --sp-and-half: 24px, 
  --sp-double:   $inuit-global-spacing-unit, // 32px
  --sp-fourty:   40px, 
  --sp-triple:   48px, 
  --sp-quad:     $inuit-global-spacing-unit-large, // 64px
  --sp-eighty:   80px, 
  --sp-huge:     $inuit-global-spacing-unit-huge, // 128px
);

// use css vars
// https://codepen.io/vank0/pen/kkGvAb
// use mixin and functions .scss
$css4: true;
$compatibility: true;

// use css vars
// https://codepen.io/vank0/pen/kkGvAb
//this is the "magic" function
@function var($variable) {
  @if($css4) {
    @return unquote('var(' + $variable + ')');
  } @else {
    @return map-get($vars-project, $variable);
  }
}

// use css vars
// https://codepen.io/vank0/pen/kkGvAb
//the mixin temporally sets the $css4 variable to false, compiles the css3 fallback, then makes the variable true again and compiles the css4 code. It should contain properties that use css4 variables, otherwise there will be unnessesary duplication of properties.
@mixin css4 {
  @if ($css4) {
    $css4-backup: $css4;
    @if($compatibility) {
      $css4: false !global;
      @content;
    }
    $css4: true !global;
    @content;
    $css4: $css4-backup;
  }
  @else {
    @content;
  }
}

// use css vars
// https://codepen.io/vank0/pen/kkGvAb
// use mixin and functions .scss
//$css4: true;
//$compatibility: true;
//Here we transfer the variables from the map to the :root element
@if($css4) {
  :root {
    @each $variable, $value in $vars-project {
      #{$variable}: $value;
    }
  }
}