///*------------------------------------*\
//    #MIXINS
//\*------------------------------------*/

// clearfix()
//
// Allows the bottom of an element to extend to the bottom of all floated
// children elements. @see http://nicolasgallagher.com/micro-clearfix-hack/
//
// We use the micro-clearfix, optimized for use in `@extend` where fewer `&` is
// better.
//
// Style guide: sass.mixins.clearfix
@mixin clearfix() {
  &:before {
    content: '';
    display: table;
  }

  &:after {
    content: '';
    display: table;
    clear: both;
  }
}


// Feature Detection
//
// $feature - Feature-specific class, i.e. `cssgradients`.
// @usage - `@include supported($feature)`
// @usage - `@include not-supported($feature)`

@mixin supported($feature) {
  .#{$feature} & {
    @content;
  }
}

@mixin not-supported($feature) {
  .no-js &,
  .no-#{$feature} & {
    @content;
  }
}


// Color Scheme 0.0.2
// Scheme from colors for create classes with properties css, functions for facilitie use in the project like palette, tint, shade, etc
// From DEV Undergrond
// @authors: Jonas Sousa, Allef Silva

/// make-classes-map - Create utilities classes from the maps variables
/// @author Jonas Sousa, Allef Silva
/// @group Tools
/// @param {Map} $map - Variable with maps for be transformed in classes
/// @param {String} $prefix - Namespace for the organize names
/// @param {String} $name - Radical word from name
/// @param {String} $prop - properties names from classes 
/// @example scss - basic usage
///   @include make-classes-map($cls-default, $prefix-utilities, $radical-classes-color, $propertie-color);
///
/// @output Output from the example
///   .u-color--text { color: #121212; }
///   .u-color--bgc { color: white; }
@mixin make-classes-map($map, $prefix, $name, $prop){
  @each $sufix, $value in $map {
    .#{$prefix}#{$name}--#{$sufix} {
      #{$prop}: use-map($map, $sufix);
    }
  }
}

//*----------------------------------*\
//  SIZE
//\*----------------------------------*/

/// Size - Set propertys width and height
/// @author Hugo Giraudel
/// @group Tools
/// @param {Number} $width - Property width css
/// @param {Number} $height [$width] - Default value width, but it's possible use diferent height
/// @example scss - basic usage
///   .square {
///     @include size(50px);
///   }
/// @output Output from the example
///   .square {
///     width: 50px;
///     height: 50px;
///   }

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

//*----------------------------------*\
//  HOVER
//\*----------------------------------*/

/// Hover - Create pseduo-classes in link: `:hover`, `:active`, and `:focus`.
/// @author Hugo Giraudel
/// @group Tools
/// @content propertys in `:hover`, `:active`, and `:focus` link.
/// @example scss - basic usage
///   .simple-link {
///     ...
///     @include hover {
///       ...
///     }
///   }

@mixin hover {
  &:hover,
  &:active,
  &:focus { @content; }
}


// Truncate text
// If the text is longer than one line, it will be truncated and end with an ellipsis(...).
@mixin truncate-text( $tru-w ) {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: $tru-w;
}

@mixin no-link {
  cursor: $cursor-disabled;
  pointer-events: none; // Future-proof disabling of clicks
}

@mixin mobile-scroll-horizontal {
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

@mixin clear-list {
  list-style: none;
  padding: 0;
}

@mixin o-wrapper {
  //  @include clearfix();
  width: 100%;
  max-width: em($w-l);
  margin-right: auto;
  margin-left:  auto;

  @include media('screen', '>small') {
    padding-right: 1rem;
    padding-left:  1rem;
  }
  
  @include media('screen', '>large') {
    padding: 0;
  }
}



@mixin label {
  text-transform: uppercase;
  @include css4 {
    color: var(--cl-grey-50);
    font-size: var(--fz-xs);
  }
  font-weight: 700;
  line-height: $line-height-reset;
}

@mixin box-dropdown {
  width: em(320px);
  @include css4 {
    border: 2px solid var(--cl-secondary);
    background-color: var(--cl-secondary-xlight);
  }
  position: relative;
  
  &::before {
    @include triangle(bottom, #70653e, 6px);
    position: absolute;
    top: -(em(9px));
    right: em(16px);
  }
}

// use in the link
@mixin arrow-right {
  &::before {
    content: '';
    display: block;
    @include size(em(16px));
    background: url('#{$imgPath}/arrow-right-brown.svg') 0 center no-repeat;
    @include transition(all $duration-quickly ease-in-out);
  }

  @include hover {
    &::before { background-position: center; }
  }
}