///*------------------------------------*\
//    #MIXINS
//    ARROW
//\*------------------------------------*/

/// Arrow - Create a arrow in the direction your preference.
/// Direction must be one of top, right, bottom or left.
/// @author CSS-Tricks
/// @link https://css-tricks.com/snippets/sass/css-triangle-mixin/
/// @group Tools
/// @param {Direction} $direction - Triangle direction, either `top`, `right`, `bottom` or `left`
/// @param {Color} $color [currentcolor] - Triangle color
/// @param {Length} $size [1em] - Triangle size
/// @example scss - basic usage
///   .foo::before {
///     @include triangle(bottom);
///     display: inline-block; // d:ib || pos:a - use one property for your propouse
///   }
/// @output Output from the example
///   .foo::before {
///     width: 0;
///     height: 0;
///     content: '';
///     z-index: 2;
///     border-top: 1.5em solid currentcolor;
///     border-left: 1em solid transparent;
///     border-right: 1em solid transparent;
///     display: inline-block; 
///   }

@mixin triangle($direction, $color: currentcolor, $size: 1em) {
  @if not index(top right bottom left, $direction) {
    @error "Direction must be either `top`, `right`, `bottom` or `left`.";
  }

  content: '';
  width: 0;
  height: 0;
  z-index: 2; // if you use pos:a

//  border-#{opposite-position($direction)}: ($size * 1.5) solid $color;
  border-#{$direction}: ($size * 1.5) solid $color;

  $perpendicular-borders: $size solid transparent;
  
  @if $direction == top or $direction == bottom {
    border-left:   $perpendicular-borders;
    border-right:  $perpendicular-borders;
  } @else if $direction == right or $direction == left {
    border-bottom: $perpendicular-borders;
    border-top:    $perpendicular-borders;
  }
}