///*----------------------------------*\
//  #FUNCTIONS
//\*----------------------------------*/

// Returns unitless number
@function remove-unit($number) {
  $unit: unit($number);
  $one: 1;

  @if $unit == "px" { $one: 1px; }
  @if $unit == "rem" { $one: 1rem; }
  @if $unit == "%"  { $one: 1%;  }

  @return $number / $one;
}

/// Returns flexible value using `target ÷ context` formula.
/// Returns `em` by default, accepts `%` as format.
/// @group Helpers
/// @author Eduardo Shiota
/// @link https://github.com/eshiota/eshiota_middleman_blog/blob/master/source/stylesheets/base/_functions.scss
@function flex($target, $context: $CONTEXT_FONT_SIZE, $unit: "rem") {
  $size: remove-unit($target) / remove-unit($context);

  @if $unit == "" { @return $size; }
  @if $unit == "rem" { @return #{$size}rem; }
  @if $unit == "%" { @return percentage($size); }
}

/// Alias to `flex` function, using `%` as format.
/// @group Helpers
/// @author Eduardo Shiota
/// @link https://github.com/eshiota/eshiota_middleman_blog/blob/master/source/stylesheets/base/_functions.scss
/// @arg {Number} $target - Width target use
/// @arg {Number} $context - Target block parent
@function perc($target, $context) {
  @return flex($target, $context, "%");
}

/// Alias to `flex` function, using `em` as format.
/// @group Typography
/// @author Eduardo Shiota
/// @link https://github.com/eshiota/eshiota_middleman_blog/blob/master/source/stylesheets/base/_functions.scss
/// @arg {Number} $target - Font size
/// @arg {Number} $context - Use defaut '$CONTEXT_FONT_SIZE' 16px
@function em($target, $context: $CONTEXT_FONT_SIZE) {
  @return flex($target, $context, "rem");
}