// 
// components
// search-form
// 

.c-search-form {

  &__input {
    @extend .form-control;
    @include css4 {
      color: var(--cl-secondary);
      font-size: var(--fz-xm);
      background-color: var(--cl-clean);
    }
    margin: 0;
  }

  &__btn {
    max-width: 160px;

    .painel & { display: $n; }
  }

  &__label {
    @include css4 {
      margin-bottom: var(--sp-half);
    }
  }
}