// 
// components
// menu-primary
// 

// btn svg
.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.line {
  fill:none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke:#fff;
  stroke-width:5.5;
  stroke-linecap:round;
}
.ham1 .top {
  stroke-dasharray: 40 139;
}
.ham1 .bottom {
  stroke-dasharray: 40 180;
}
.ham1.active .top {
  stroke-dashoffset: -98px;
}
.ham1.active .bottom {
  stroke-dashoffset: -138px;
}
// btn svg

.c-btn-rwd {
  display: $n;
  @include css4 {
    @include size(var(--sp-double));
    border: 1px solid var(--cl-clean);
  }
  border-radius: 3px;

  &.is-active {
    position: fixed;
    top: 12px;
    right: 12px;
  }
}

.c-cta-rwd {
  display: $n;

  &.is-active { display: $n; }
}

.c-logo-rwd {
  display: $n;

  img {
    @include size(200px, auto);
    margin: 0 auto;
  }

  &.is-active {
    display: block;
    @include centerer(top);
    top: 30px;
  }
}

.menu__link {
  font-weight: 600;
  @include css4 {
    font-size: var(--fz-xm);
  }
}

.menu__item {
  @include css4 {
    margin-bottom: var(--sp-half);
  }
}

.c-menu-primary {}


@include media('screen', '<=small') {
  .c-btn-rwd {
    display: block;
    float: left;
  }

  .c-cta-rwd {
    display: block;
    float: right;
  }

  .c-menu-primary {
    text-align: center;
    display: $n;
    width: 100%;
    min-height: 0;

    &.is-active {
      display: block;
      min-height: 100vh;
      margin-top: 140px;
    }
  }

  .c-nav-primary {
    width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    @include css4 {
      color: var(--cl-clean);
      padding: var(--sp-half) var(--sp-twelve);
    }
    background-color: rgba(51, 51, 51, .99);
    position: fixed;
    left: 0;
    bottom: 0;
  }
}

@include media('screen', '>small') {
  .c-menu-primary {
    display: flex;
    justify-content: flex-end;
  }

  .menu__item {
    margin-bottom: 0;
    @include css4 {
      margin-left: var(--sp-and-half);
    }
  }

  .c-nav-primary {
    width: 100%;
    @include css4 {
      margin-top: var(--sp-twelve);
    }
  }
}

@include media('screen', '>xmedium') {
  .c-nav-primary {
    width: $in;
    margin-top: 0;
    margin-left: auto;
  }
}