// 
// components
// product-thumbnail
// 

.c-product-thumbnail {
  @include css4 {
    margin-bottom: var(--sp-twelve);
  }

  @include media('screen', '>=small') {
    @include column(1/2, 0, 2, 2);
    clear: left $i;
    float: left $i;
    margin-right: 2% $i;
  }
}