// 
// components
// pagination
// 

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  @include css4 {
    margin-bottom: var(--sp-double);
  }

  a {
    font-weight: 800;
    border: 1px solid $t;
    @include css4 {
      font-size: var(--fz-s);
      padding: var(--sp-quarter) var(--sp-twelve);
    }

    &:hover {
      border-color: $cc;
    }
  }

  li {
    &.active a {
      margin: 0 var(--sp-quarter);
      border-color: var(--cl-grey-20);
    }
  }

  @include media('screen', '>=small') {
    margin-bottom: 0;
  }
}
