// 
// components
// comment
// 

.c-comment {
  align-items: baseline;

  &__title {
    font-weight: 600;
  }

  @include media('screen', '>medium') {
    &__title {
      @include css4 {
        margin-right: var(--sp-double);
      }
    }
  }
}

.c-comment-info {
  font-weight: 600;
  @include css4 {
    color: var(--cl-primary);
  }
  
  &__title {
    @include css4 {
      font-size: var(--fz-s);
    }
    opacity: .7;
  }
}