// 
// components
// complementary
// 

.c-card-ideias {
  
  &__title {
    @include css4 {
      font-size: var(--fz-xm);
      margin-bottom: var(--sp-half);
    }
  }

  &__link {
    @include css4 {
      font-size: var(--fz-s);
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.c-complementary {

  &__title {
    @include css4 {
      margin-bottom: var(--sp-twelve);
    }
  }

  &__item {
    @include css4 {
      margin-bottom: var(--sp-and-half);
    }
  }

  @include media('screen', '>=small') {
    &__item {
      @include column(1/2, 0, 2, 2);
    }
  }

  @include media('screen', '>medium') {
    &__item {
      @include column(1/3, 0, 3, 2);
    }
  }
}