// 
// components
// product-highlight
// 

.c-product-highlight {
  @include css4 {
    margin-bottom: var(--sp-double);
  }

  &__title {
    @include css4 {
      margin-bottom: var(--sp-unit);
    }

    .c-product-highlight--open & {
      @include css4 {
        color: var(--cl-secondary);
      }
    }
  }

  &__item {
    @include css4 {
      margin-bottom: var(--sp-and-half);
    }
  }

  &__list {}

  @include media('screen', '>xsmall') {
    &__item {
      @include column(1/2, 0, 2, 2);
    }
  }

  @include media('screen', '>=small') {
    &__item {
      @include column(1/3, 0, 3, 2);
    }
  }

  @include media('screen', '>=medium') {
    @include css4 {
      margin-bottom: var(--sp-triple);
    }
  }
}