// 
// components
// product-card
// 

.c-product-card {

  em { font-style: normal; }

  &__img, 
  &__cat {
    @include css4 {
      margin-bottom: var(--sp-twelve);
    }
  }

  &__title {
    width: 100%;
    @include css4 {
      font-size: var(--fz-xxm);
      color: var(--cl-secondary);
    }

    @include media('screen', '>xmedium') {
      max-width: 77%;
    }
  }

  &__date, 
  &__cat {
    @include css4 {
      font-size: var(--fz-s);
      color: var(--cl-primary);
    }
  }

  &__date {
    opacity: .7;

    @include media('screen', '>xmedium') {
      margin-left: auto;
    }
  }

  &__resume {
    @include css4 {
      margin-bottom: var(--sp-and-half);
    }
  }

  &__place {
    display: block;
    @include css4 {
      font-size: var(--fz-m);
      color: var(--cl-secondary);
      margin-bottom: var(--sp-quarter);
    }
  }

  &__header {
    align-items: baseline;
    @include css4 {
      margin-bottom: var(--sp-twelve);
    }
  }
}