// 
// components
// product-infos
// 

.c-product-infos {

  &__item {
    text-align: center;
    line-height: 1;
    font-weight: 400;
    @include css4 {
      color: var(--cl-clean);
      font-size: var(--fz-xs);
      padding: var(--sp-half);
      margin-bottom: var(--sp-half);
      background-color: var(--cl-primary);
    }
    border-radius: 5px;
  }
}