// 
// components
// painel
// 

.painel {
  height: 550px;
  @include css4 {
    color: var(--cl-clean);
    margin-bottom: var(--sp-double) $i;
  }

  .title {
    max-width: 800px;
    text-align: left;
    font-weight: 400;
    @include css4 {
      font-size: var(--fz-xxm);
      margin-bottom: var(--sp-half);
    }

    @include media('screen', '>medium') {
      @include css4 {
        font-size: var(--fz-l);
      }
    }
  }

  .search-banner {
    text-align: left;
    max-width: 400px;
    @include css4 {
      margin-bottom: var(--sp-twelve);
    }
  }

  .submit-banner { text-align: left; }
  .submit-banner p {
    font-weight: 400;
    @include css4 {
      font-size: var(--fz-s);
      margin-bottom: var(--sp-twelve);
    }
  }
  .submit-banner a {
    @extend .c-btn;
    @extend .c-btn--secondary;
    @extend .c-btn--small;
    text-transform: uppercase;
    font-weight: 600 $i;
    max-width: 170px;
  }

  .swiper-slide {
    position: relative;

    img {
      min-width: 1600px;
    }
  }

  .tit-painel {
    box-sizing: border-box;
    max-width: 1200px;
    @include css4 {
      padding: 0 var(--sp-twelve);
    }
    margin: 0 auto;
    position: absolute;
    bottom: 32px;
    left: 0;
    right: 0;

    @include media('screen', '>medium') {
      @include css4 {
        padding: 0 var(--sp-double);
      }
    }
  }

  @include media('screen', '>medium') {
    @include css4 {
      margin-bottom: var(--sp-quad) $i;
    }
  }
}