// 
// components
// product-meta
// 

.c-product-meta {
  width: 100%;
  @include css4 {
    margin-bottom: var(--sp-twelve);
  }

  &__place {
    @include css4 {
      font-size: var(--fz-xxm);
      color: var(--cl-secondary);
    }
  }

  &__tag, 
  &__date {
    font-weight: 600;
    @include css4 {
      font-size: var(--fz-s);
      color: var(--cl-primary);
    }
  }

  &__date {
    opacity: .7;
  }

  @include media('screen', '>medium') {
    @include column(1/2, 0, 2, 2);

    &::before, 
    &::after { display: $n; }
  }
}